/.TurtleMissionDescriptionLabelProvider.java._trace
/.TurtleMissionLabelProvider.java._trace
/.TurtleMissionDescriptionLabelProvider.xtendbin
/.TurtleMissionLabelProvider.xtendbin
/TurtleMissionDescriptionLabelProvider.java
/TurtleMissionLabelProvider.java
